#article-post-div {
  width: 80%;
  margin: auto;
}


h1 {
  font-size: 1.9em;
  font-weight: bold;

}

h2   {
  font-size: 1.4em;
  font-weight:bold,
  
}
h3  {
  font-size: 1.2em;
  font-weight:bold,
}



#commentaires {
  text-align: center;
}


@media (max-width: 800px){

#signupform {
  width:95%;
}

#article-title {
  padding:1.5em;
}
}

@media (max-width: 430px){

  #article-post-div {
    width: 100%;
    margin: auto;
  }
  #article-post-div img {
    width: 100% !important;
  }

  #article-post-div h1 {
    font-size: 1.6em !important;
  }
  #article-post-div p {
    font-size: 1.2em !important;
   
  }
}


p > a {
  color: rgb(162, 23, 23) ;
  text-decoration: none !important;
  font-weight:600;
  display: inline;
  padding-bottom: 2px;
  transition: all 0.3s linear;
  background: linear-gradient(to bottom, rgb(162, 23, 23) 0%, rgb(103,0,0) 98%);
  background-size: 0px 2px;
  background-repeat: no-repeat;
  background-position: left 100%;
}

p > a:hover {
  background-size: 100% 2px;
  color: rgb(123,0,0);
}