h1 {
  font-size: 1.9em;
  font-weight: bold;
}

h2 {
  font-size: 1.6em;
  font-weight:bold;
}
p {
  font-size: 1em;
}

img {
  width:100%;
  height:auto;
}


#commentaires {
  text-align: center;
}
